.epic-footer-container {
    height: 100px;
    width: 100%;
    background: #2a2a2a;
    position: absolute;
    bottom: 0px;
    z-index: 1000;

    .epic-footer-title{
        font-family: OpenSans,sans-serif,arial;
        font-size: 20px;
        color: #b0b4b4;
        letter-spacing: 0.5px;
        text-align: center;
        margin-top: 26px;
        cursor: context-menu;

        &:hover, &:focus {
            color: white;
            transition: 0.2s;
        }
    }
}