.epic-user-container {
    margin: 60px auto 141px auto;

    .epic-user {
        padding: 0px 42px;
        margin-top: -52px;  
    }
}

.epic-user-detailed-container-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;

    .epic-user-detailed-container {
        width: calc(100% + 14px);
        overflow: hidden scroll;
        padding-right: 15px;
        max-height: calc(100vh - 305px);

        .epic-user-gallery-container {
            border-radius: 4px;
            margin: auto;
            max-width: 1000px;
        }

        .epic-user-show-more-button {    
            margin: 20px auto 10px auto;
            background: #252525;
            border-radius: 4px;
            font-family: Brutal,sans-serif;
            font-size: 16px;
            color: #b0b4b4;
            letter-spacing: 0;
            text-align: center;
            line-height: 20px;
            width: 190px;
            display: block;
            height: 41px;
            cursor: pointer;
            border: none;
            outline: none;

            &:hover {
                transition: 0.2s;
                background: #383838;
                color: white;
            }
        }
    }
}

